version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    container_name: aegisops-backend

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    container_name: aegisops-frontend
    depends_on:
      - backend
